:root {
  --active: #e39f39;
  --main-bg-color: #e3c839;
  --main-bg-color-2: #e3b439;
  --main-bg-color-3: #e67b2a;
  --main-bg-color-4: #e3dd39;
  --header-background: #e3c984;
  --green: #327735;
  --background-light: rgba(227, 201, 132, 0.11);

  --border-radius: 15px;
  --box-shadow-default: 0 4px 6px rgba(0, 0, 0, 0.1);;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}



